@model Cinema.ViewModels.MovieTheaters.MovieTheatersViewModel

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-secondary mb-4" asp-action="Add" style="color: white; cursor: pointer;">Add movie theater</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Movie Theater</th>
            <th scope="col">Number Of Seats</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movieTheater in Model.MovieTheaters)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@movieTheater.Id">@movieTheater.Name</a></td>
                <td>@movieTheater.NumberOfSeats</td>
                @if (movieTheater.IsActive)
                {
                    <td style="color: green;">Active</td>
                }
                else
                {
                    <td style="color: red;">Inactive</td>
                }
            </tr>
        }
    </tbody>
</table>
