@model Cinema.ViewModels.Movies.MoviesViewModel

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Add" class="btn btn-secondary mb-3" style="cursor: pointer; color: white;">Add movie</a>

<div class="card-columns">
    @foreach (var movie in Model.Movies)
    {
        <div class="card" style="width: 18rem; border-radius: 10px;">
            <div class="card-body">
                <h5 class="card-title mb-4" style="display: flex; justify-content: center; font-weight: 600;">@movie.Title</h5>
                <div>
                    Movie Star:
                    <span style="font-weight: 600; margin-left: 20px;">@movie.Star</span>
                </div>
                <div class="mb-4">
                    Release Date:
                    <span style="font-weight: 600; margin-left: 5px;">@movie.ReleaseDate.ToShortDateString()</span>
                </div>
                <a asp-controller="Program" asp-action="SeeProgramForMovie" asp-route-movieId="@movie.Id" class="btn-see-program btn btn-secondary mb-3">See program</a>
            </div>
        </div>
    }
</div>